[submodule "extern/xxHash"]
	path = extern/xxHash
	url = git@github.com:Cyan4973/xxHash.git
	branch = dev
[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
	branch = master
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = git@github.com:google/benchmark.git
	branch = master
